*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f6f9;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:navy;
color:white;
position:fixed;
width:100%;
top:0;
z-index:100;
}

.logo{
font-size:22px;
color:white;
text-decoration:none;

}

.nav-menu{
display:flex;
gap:25px;
}

.nav-menu a{
color:white;
text-decoration:none;
}

.menu-btn{
display:none;
font-size:22px;
cursor:pointer;
}

.hero{
display:flex;
align-items:center;
justify-content:center;
gap:40px;
padding:120px 10%;
flex-wrap:wrap;
}

.profile-img{
width:280px;
border-radius:50%;
}

.hero-text{
max-width:500px;
}

.hero-text span{
color:#007bff;
}

.about{
text-align:center;
padding:80px 10%;
background:#e0f7fa;
}

.social-icons a{
font-size:22px;
margin:10px;
color:#333;
}

.experience,
.education,
.achievement{
padding:80px 10%;
}

.card{
display:flex;
gap:20px;
background:white;
padding:20px;
border-radius:10px;
margin-bottom:20px;
align-items:center;
}

.card img{
width:70px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.box{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
}

.contact{
padding:80px 10%;
background:#e0f7fa;
text-align:center;
}

form{
display:flex;
flex-direction:column;
gap:10px;
max-width:500px;
margin:auto;
}

input, textarea{
padding:10px;
border-radius:6px;
border:1px solid #ccc;
}

button{
background:navy;
color:white;
padding:10px;
border:none;
cursor:pointer;
}

footer{
text-align:center;
padding:30px;
background:navy;
color:white;
}




@media (max-width:768px){

.menu-btn{
display:block;
}

.nav-menu{
display:none;
flex-direction:column;
background:navy;
position:absolute;
top:60px;
right:0;
width:200px;
padding:20px;
}

.nav-menu.active{
display:flex;
}

.card{
flex-direction:column;
text-align:center;
}

}
.achievement{
padding:80px 10%;
text-align:center;
}

.achievement-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:30px;
}

.achievement-card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.achievement-card img{
width:100%;
border-radius:10px;
margin-bottom:10px;
}

.achievement-card:hover{
transform:translateY(-8px);
}
